# font (xft format)
font="{{ .xftFont }}"

# spacing
space="  "

# on the bottom?
bottom=no

# bar dimensions
height=40
width=1920
xpos=0
ypos=0

# colors
background="{{ .background }"
foreground="{{ .foreground }"
accent="{{ .accent }}"

# border
borderw={{ .border_width }}
border={{ .border }}

