# font (xft format)
font="{{ .xftFont }}"

# spacing
space="  "

# on the bottom?
bottom=no

# bar dimensions
height=40
#width=2540
width=1920
xpos=0
ypos=0
voff=0

# colors
background="{{ XrdbValue `\*\.background` }}"
foreground="{{ XrdbValue `\*\.foreground` }}"
accent="{{ .accent }}"

# border
borderw={{ .border_width }}
border={{ .border }}

